<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8">
		<mate http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>vue js</title>
		<script src="../js/vue.js"></script>
	</head>
	<body>

		<!-- //定义视图 -->
		<div id="app">
			<!-- addr 代表遍历出来的元素，可以自定义变量 addrs 遍历的是哪个数据 
				{{addr}}代表变量出来的每个值 -->
			<div v-for="addr in addrs">{{addr}}</div>

			<hr>
			<div v-for="(addr,index) in addrs">{{index}} : {{addr}}</div>

			
		</div>
		

    </body>
	
	<script >
		//定义vue实例对象
		new Vue({
			el: "#app",
			data:{

				addrs:["北京","上海","天津","西安"]
				
			},
			methods:{
				getAddr:function(){
					alert("getAddr")
				}
			}
		})
		
	</script>
</html> 